<% articles = locals[:articles]%>

<div class="container-fluid px-0">
  <div class="row no-gutters">
    <%change_flag = 0%>
    <% articles.each do |article|%>
      <% if change_flag < 2%>
        <div class="article_container d-flex col-12 col-md-6">
          <div class="category_article_image d-flex flex-column justify-content-end" style = "background: url(<%= article.image %>);"></div>
          <div class="article_content d-flex flex-column align-items-start justify-content-around">

            <%= link_to article.title, article_path(article), class: 'category_article_title'%>
            <%= content_tag(:p, truncate(article.text, length: 200), class: 'category_article_text')%>

            <%= votes_button(article) %>
          </div>
        </div>
        <% change_flag += 1%>
      <% elsif change_flag == 2 %>
        <div class="article_container d-flex col-12 col-md-6">
          <div class="article_content d-flex flex-column align-items-start justify-content-around">

            <%= link_to article.title, article_path(article), class: 'category_article_title'%>
            <%= content_tag(:p, truncate(article.text, length: 200), class: 'category_article_text')%>

            <p class = 'article_author'> Article by: <%= article.author.name %> </p>

            <%= votes_button(article) %>
          </div>
          <div class="category_article_image d-flex flex-column justify-content-end" style = "background: url(<%= article.image %>);"></div>
        </div>
        <% change_flag += 1%>
      <% else%>
        <div class="article_container d-flex col-12 col-md-6">
          <div class="article_content d-flex flex-column align-items-start justify-content-around">
            <% unless params[:category].nil? %>
              <%= content_tag(:p, params[:category].capitalize, class: 'category_category')%>
            <% end %>
            <%= link_to article.title, article_path(article), class: 'category_article_title'%>
            <%= content_tag(:p, truncate(article.text, length: 200), class: 'category_article_text')%>

            <%= votes_button(article) %>
          </div>
          <div class="category_article_image d-flex flex-column justify-content-end" style = "background: url(<%= article.image %>);"></div>
        </div>
        <% change_flag = 0%>
      <% end %>
    <% end %>
  