<% (@articles_by_category.length / 2).times do |i|%>
  <% if @articles_by_category[1].nil? or @articles_by_category[1].empty? %>
    <%= articles_index_empty(@articles_by_category.shift) %>
    <% @articles_by_category.shift %>
  <% else %>
    <div class="col-6 col-lg-3 featured_article d-flex flex-column justify-content-around align-items-start" style = "background: linear-gradient( rgba(77, 66, 60, .4), rgba(77, 66, 60, .4) ), url(<%= @articles_by_category[1][0].image %>) no-repeat center center; background-size: cover;">
      <div class="article_title_box">
        <p class="article_text">
        <% if @articles_by_category[0] == 'Cars'%>
          <%=link_to @articles_by_category[0], cars_path%>
          <% @articles_by_category.shift %>
        <% elsif @articles_by_category[0] == 'Motorcycles'%>
          <%=link_to @articles_by_category[0], bikes_path%>
          <% @articles_by_category.shift %>
        <% elsif @articles_by_category[0] == 'Off Road'%>
          <%=link_to @articles_by_category[0], offroad_path%>
          <% @articles_by_category.shift %>
        <% elsif @articles_by_category[0] == 'Racing'%>
          <%=link_to @articles_by_category[0], racing_path%>
          <% @articles_by_category.shift %>
        <% end %>
        </p>
        <hr class = 'yellow_line'>
      </div>
      <p class="article_text">
        <%= link_to @articles_by_category[0][0].title, article_path(@articles_by_category[0])%>
        <% @articles_by_category.shift%>
      </p>
    </div>
  <% end %>
<% end %>