<%= form_for(@article, html: {multipart: true}) do |f| %>

  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :image, 'Paste the URL of the image' %><br />
    <%= f.text_field :image %>
  </p>

  <%= f.label :categories %><br />
  <p>
    <div class="checkbox_wrapper d-flex align-items-baseline justify-content-start">
      <%= f.check_box :article_categories, {multiple: true}, 'Cars', '' %> <p>
        Cars
      </p>
    </div>
  </p>
  <p>
    <div class="checkbox_wrapper d-flex align-items-baseline justify-content-start">
      <%= f.check_box :article_categories, {multiple: true}, 'Bikes', '' %> <p>
        Bikes
      </p>
    </div>
  </p>
  <p>
    <div class="checkbox_wrapper d-flex align-items-baseline justify-content-start">
      <%= f.check_box :article_categories, {multiple: true}, 'Off Road', '' %> <p>
        Off Road
      </p>
    </div>
  </p>
  <p>
    <div class="checkbox_wrapper d-flex align-items-baseline justify-content-start">
      <%= f.check_box :article_categories, {multiple: true}, 'Racing', '' %> <p>
        Racing
      </p>
    </div>
  </p>

    <div class="button_wrapper d-flex justify-content-center w-100">
      <%= f.submit class: 'form_submit'%>
    </div>
<% end %>
