<%= form_for(resource, as: resource_name, html: {class: 'form user-form'}, url: registration_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="proceed_button">
    <%= button_tag(type: 'submit', class: "proceed", id: 'validForm') do%>
      <span>Register</span>
    <% end %>
  </div>
<% end %>

<% unless current_user %>
  <%= link_to (user_facebook_omniauth_authorize_path), class: 'facebook-form-link' do %>
    <div class="form user-form facebook-form">
      <div>
        <i class="fa fa-facebook-square"></i><span class="sign_in_facebook">Sign up with Facebook</span>
      </div>
      <p class="policies">Feature not available on deployment due to privacy policy.</p>
    </div>
  <% end %>
<% else %>
  <div class="form user-form facebook-form">
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
<% end %>
