<h1 class = new_article_title>Sign in</h1>

<%= form_for(resource, as: resource_name, html: {class: 'form user-form'}, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="proceed_button">
    <%= button_tag(type: 'submit', class: "proceed", id: 'validForm') do%>
      <span>Log In</span>
    <% end %>
  </div>
<% end %>

<% unless current_user %>
  <%= link_to (user_facebook_omniauth_authorize_path), class: 'facebook-form-link' do %>
    <div class="form user-form facebook-form">
      <div>
        <i class="fa fa-facebook-square"></i><span class="sign_in_facebook">Sign in with Facebook</span>
      </div>
      <p class="policies">Feature not available on deployment due to privacy policy.</p>
    </div>
  <% end %>
<% else %>
  <div class="form user-form facebook-form">
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
<% end %>