<h1 class = new_article_title>Sign in</h1>

<%= form_for(resource, as: resource_name, html: {class: 'form user-form'}, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="proceed_button">
    <%= button_tag(type: 'submit', class: "proceed", id: 'validForm') do%>
      <span>Log In</span>
    <% end %>
  </div>
<% end %>
